@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 1200px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

h1{
  font-family: 'Raleway', sans-serif;
}

body{
    background-color: darkgrey;
}
header{
    height: 90px;
    background-color: grey;
    background-image: url(pictures/Rotterdam.jpg);
    background-size: 1024px ;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 15px;
    color: aliceblue;
}
footer{
  background-color: grey;
  text-align: center;
  padding: 15px;
  clear: both;
}

.left{
  background-color: aquamarine;
  float: left;
  height: 100%;
}

.right{
  background-color: rgb(136, 86, 86);
  float: left;
}
h2{
  text-align: center;
}
.artikel{
  padding: 10px;
  height: auto;
}
.title-artikel{
  font-size: 20px;
  font-weight: 700;
}
.artikel img{
  float: left;
  margin-right: 5px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid white;
  padding: 5px;
}
.imgright{
  float: right;
}
.empty{
  float: right;
  background-color: aqua;
  text-align: center;
  font-size: 16px;

}
.central{
  padding: 5px;
}