body{
    background-color: rgb(41, 36, 46);
}

.container{
    margin: auto;
    width: 2000px;
    height: 250px;
}

h1,h2{
    color: azure;
}
.project{
    float: left;
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10%;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}