body{
    background-color: rgb(32,33,36);
}

.headfoot{
    background-color: rgba(255, 228, 196, 0.856);
}

#table1{
    margin: auto;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(219, 220, 223);
    width: auto;
}

#t1,#t2,#t3,#t4,#t5,#t6,#t7,#t8,#t9,#t10,#t11,#t12,#t13,#t14,#t15,#t16{
    border: 2px;
    width: 300px;
    height: 300px;
    color: azure;
    text-align: center;
}
#t1{
    background-color: #99ffff;
    color: #000000;
}
#t2{
    background-color: #99ffcc;
    color: #000000;
}
#t3{
    background-color: #99ff99;
    color: #000000;
}
#t4{
    background-color: #99ff66;
    color: #000000;
}
#t5{
    background-color: #C61914;
}
#t6{
    background-color: #CB504F;
}
#t7{
    background-color: #DA8E14;
}
#t8{
    background-color: #E8B617;
    color: #000000;
}
#t9{
    background-color: #6600ff;
}
#t10{
    background-color: #6600cc;
}
#t11{
    background-color: #660099;
}
#t12{
    background-color: #660066;
}
#t13{
    background-color: #000099;
}
#t14{
    background-color: #000066;
}
#t15{
    background-color: #000033;
}
#t16{
    background-color: #000000;
}


